/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  /*height: calc(100vh - 8em);
  padding: 4em;*/
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}
.line-1{
    position: absolute;
    top: 0.5em;
    margin-top:0;
    right: 4em;
    width: 10em;
    margin-right: auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 500%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    /*transform: translateY(-50%);     */
}

.line-2{
    position: absolute;
    top: 2em;
    right: 1em;
    width: 16em;
    margin-right: auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 300%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    /*transform: translateY(-50%);  */
}

/* Animation */
.anim-typewriter-stop{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(30) 4 1s normal;
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(30) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: red;}
  to{border-right-color: transparent;}
}


.cards {
  width: 100%;
  max-width: 400px;
  height: auto;
  position:absolute;
  right: 14em;
  bottom: 2em;
}


