/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  /*height: calc(100vh - 8em);
  padding: 4em;*/
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}
.line-1{
    position: absolute;
    top: 0.5em;
    margin-top:0;
    right: 4em;
    width: 10em;
    margin-right: auto;
    border-right: 2px solid white;
    font-size: 500%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    /*transform: translateY(-50%);     */
}

.line-2{
    position: absolute;
    top: 2em;
    right: 1em;
    width: 16em;
    margin-right: auto;
    border-right: 2px solid white;
    font-size: 300%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    /*transform: translateY(-50%);  */
}

/* Animation */
.anim-typewriter-stop{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(30) 4 1s normal;
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(30) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: red;}
  to{border-right-color: transparent;}
}


.cards {
  width: 100%;
  max-width: 400px;
  height: auto;
  position:absolute;
  right: 13em;
  bottom: 2em;
}


/*left side

body {
  margin: 0;
  font-family: monospace, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

/* Left panel: input + output */

/*
.left-panel {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.left-panel textarea {
  width: 100%;
  height: 120px;
  font-family: monospace;
  font-size: 14px;
  margin-bottom: 10px;
}

.left-panel button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.left-panel pre {
  background-color: #e0e0e0;
  padding: 10px;
  border: 1px solid #ccc;
  white-space: pre-wrap;
}


*/